.new-tweet {
  margin-right: 2em;
  margin-left: 2em;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  background-color: #eee;
}

.new-tweet h2 {
  margin-top: 7px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

form textarea {
  width: 100%;
  resize: none;
}

.counter {
	float: right;
}